// 会社情報
.tbl-r02 {
  padding-top: 50px;
  display: flex;
  // text-align: center;
  justify-content: center;

  th {
    background: #f99c3f;
    border: solid 1px #ccc;
    // border-radius: 10px 0 0 10px;
    color: #fff;
    padding: 10px 30px;
    font-weight: normal;
  }
  td {
    border: solid 1px #ccc;
    padding: 10px;
  }
}

@media screen and (max-width: 640px) {
  .last td:last-child {
    border-bottom: solid 1px #ccc;
    width: 100%;
  }
  .tbl-r02 {
    width: 80%;
  }
  .tbl-r02 th,
  .tbl-r02 td {
    border-bottom: none;
    display: block;
    width: 100%;
  }
}

.top_image_cm {
  position: relative;
  height: 200px;
  width: 100%;
  background-image: url(images/bg_header.jpg);
  object-fit: cover;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;

  &:before {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .image-home-hd {
    width: 100%;
    height: 100%;
    background-size: cover;
    top: 10px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .over {
    position: absolute;
    line-height: 100px;

    .title {
      font-size: 100px;
    }
  }

  span::before {
    content: "\A";
    white-space: pre;
  }

  .label_cm {
    position: absolute;
    top: 35%;
    right: 50%;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    font-size: 50px;
    // background-color: #eb6100;
    text-align: center;
    border: none;
  }
}
