.main_contact {
  .menu_bar {
    text-align: center;
    justify-content: center;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    color: gray;
  }
}

.contact-form {
  padding: 20px 21px;
  .full-width {
    margin: 0 calc(50% - 50vw);
    padding: 20px calc(50vw - 50%);
  }
  /* pタグの余白を削除 */
  .wpcf7-form p {
    margin-bottom: 0;
  }

  .contact-form {
    text-align: center;
    justify-content: center;
  }

  .wpcf7-form {
  }
  /* 背景色（お好きな色に） */
  section.contact {
    background-color: #fff;
  }
  /*  フォームの幅（自由に変えてOK） */
  .contactForm {
    max-width: 750px;
    margin: 0 auto;
  }

  /* 各項目の下部余白 */
  .contact_item {
    margin-bottom: 2.5rem;
  }

  /* 項目名 */
  .label {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6;
    letter-spacing: 0.05em;
    color: #515050;
  }

  .wpcf7-form-control-wrap {
  }
  /* 必須タグと任意タグ共通のスタイル */
  .label_tag {
    font-size: 1rem;
    color: #ffffff;
    border-radius: 0.3rem;
    margin-right: 1rem;
    padding: 5px 10px;
  }
  /* 必須タグ */
  .label_must {
    background-color: #eca849;
  }
  /* 任意タグ */
  .label_option {
    background-color: #888988;
  }
  /* 名前やメールアドレスなどユーザーが入力する箇所 */
  .input {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 0;
  }
  input[type="text"],
  input[type="email"] {
    width: 100%;
    border: solid 1px #707070;
    padding: 0.5rem;
    font-size: 1.8rem;
    padding: 10px 0;
  }
  /* お問い合わせ内容を入力する箇所 */
  .wpcf7-textarea {
    border: solid 1px #707070;
    height: 207px;
    font-size: 10px;
    width: 100%;
  }
  /* ボタン */
  .btnArea {
    text-align: center;
  }
  input[type="submit"] {
    background: #222;
    border: 2px solid #ffffff;
    width: 100%;
    height: 50px;
    color: #ffffff;
    text-align: center;
    font-size: 2.5rem;
    line-height: 1.3;
    letter-spacing: 0.5em;
    text-indent: 0.5em;
    margin-top: 2rem;
    cursor: pointer;
    border-radius: 0.3rem;
    transition: all 0.3s;
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  /* ボタンにホバーした時 */
  input[type="submit"]:hover {
    color: #222;
    background-color: #ffffff;
    border-color: #222;
  }
  /* ローダー */
  .wpcf7 .ajax-loader {
    display: block;
    margin: 0 auto;
  }
  /* モバイル版 */
  @media screen and (max-width: 480px) {
    .contact_item {
      margin-bottom: 1.6rem;
    }
    .label {
      font-size: 1.5rem;
      margin-bottom: 0.4rem;
    }
    .label_tag {
      font-size: 1.1rem;
    }
    input[type="text"],
    input[type="email"] {
      padding: 0.4rem;
      font-size: 1.5rem;
    }
    textarea {
      padding: 0.4rem;
      font-size: 1.5rem;
    }
    input[type="submit"] {
      font-size: 1.5rem;
    }
  }

  input[type="checkbox"] {
    display: none;
  }
  span.wpcf7-list-item {
    margin-bottom: 35px;
    display: block;
  }

  span.wpcf7-list-item ~ span.wpcf7-list-item {
    // margin-left: 20px;
  }

  /* spanの左側にボタンを配置するスペースを作る */
  input[type="checkbox"] + .wpcf7-list-item-label {
    padding-left: 3em;
    font-size: 14px;
    position: relative;
    display: flex;
  }

  /* 各パーツを作成 */
  input[type="checkbox"] + .wpcf7-list-item-label::after,
  input[type="checkbox"] + .wpcf7-list-item-label::before {
    content: "";
    display: block;
    position: absolute;
    border: 1px solid #222;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background-color: #fff;
  }

  /* after上書き */
  input[type="checkbox"] + .wpcf7-list-item-label::after {
    opacity: 0;
    width: 4px;
    height: 15px;
    transform: rotate(45deg);
    left: 6.5px;
    border: none;
    border-right: 3px solid rgba(186, 40, 14);
    border-bottom: 3px solid rgba(186, 40, 14);
  }

  input[type="checkbox"]:checked + .wpcf7-list-item-label::after {
    opacity: 1;
  }
  .radio_btn {
    .wpcf7-form-control {
      margin: 15px 0px;
      width: 300px;
      height: 40px;
      option {
        font-size: 30px;
      }
    }
  }
}

.top_image_co {
  position: relative;
  height: 200px;
  width: 100%;
  background-image: url(images/bg_header.jpg);
  object-fit: cover;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;

  &:before {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .image-home-hd {
    width: 100%;
    height: 100%;
    background-size: cover;
    top: 10px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .over {
    position: absolute;
    line-height: 100px;

    .title {
      font-size: 100px;
    }
  }

  span::before {
    content: "\A";
    white-space: pre;
  }

  .label_co {
    position: absolute;
    top: 35%;
    right: 50%;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    font-size: 50px;
    // background-color: #eb6100;
    text-align: center;
    border: none;
  }
}
